.bankdetails{
    display: flex;
    margin:none;

}
h2{
    text-shadow: 2px 2px 4px #000000;
}

.bankdetails div{
    background-color: fff5f5;
    margin:none;
    width: 100%;
    padding: 1em;
    border: solid 1px black;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    

}

.bankdetails div div{
    background-color: aliceblue;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-between;
    margin: 0 0 0.6em 0;
    border: none;
    font-family: Trebuchet MS;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.bankdetails div div h3{
    margin : 0;
}